/* Topics */
.Topics {
    grid-row: 2/2;
    grid-column: 2/2;
    height: 100%;
    width: 100%;
    background-color: green;
}
.Topics-Table {
    width: 100%;
    height: 90%;
    background-color: green;
    border: 3px solid yellow;
}
.Topics-Button {
    background-color: blanchedalmond;
}